.categories { height:383px; }
.search { height:252px; }
.product-info .product-desc
{ background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='css/images/info.png', sizingMethod='scale');}
